@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Space+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "MinimalThin";
  src: url(../Fonts/MinimalThin-Regular.ttf);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  color: #e2e2e2;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.container {
  position: relative;
  margin-top: 2em;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .logo {
  position: fixed;
  -webkit-transform: scale(0.17);
          transform: scale(0.17);
  margin: -1em 1.6em;
  width: 0px;
  height: 0px;
}

.container header .nav-icon {
  position: fixed;
  right: 0;
  top: 0.2em;
  margin: 1em 1.6em 0 1.6em;
  z-index: 100;
}

.container header .nav-icon:hover {
  cursor: pointer;
}

.container header .menu-open {
  display: block;
}

.container header .menu-close {
  display: none;
}

.container header nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 50;
  right: 0;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.container header nav .selected {
  margin-left: -2em;
}

.container header nav .selected a {
  color: #e2e2e2;
}

.container header nav .selected ::after {
  content: " ";
  position: absolute;
  width: 90px;
  height: 2.6px;
  background-color: #e2e2e2;
  bottom: 14px;
  left: 0;
}

.container header nav ul {
  position: relative;
  left: 64vw;
  margin: 6em 0 1em 0;
}

.container header nav ul li {
  list-style: none;
  padding: 1em 0;
  position: relative;
}

.container header nav ul li a {
  color: #706969;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.container header nav ul li a:hover {
  color: #e2e2e2;
}

.container header nav .nav-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  margin-top: 30vh;
}

.container header nav .nav-socials svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container header nav .nav-socials svg path {
  fill: #706969;
}

.container header nav .nav-socials svg:hover {
  cursor: pointer;
}

.container header nav .nav-socials svg:hover path {
  fill: #e2e2e2;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-family: "MinimalThin" sans-serif;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  margin: 2em;
  margin-bottom: 1em;
  width: 100%;
}

.hero .hero-img {
  margin: 2.2em 0 1em 0;
}

.hero .hero-logo {
  width: 70px;
  height: auto;
}

.hero .hero-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin-top: 0;
  margin-bottom: 2em;
}

.hero .hero-socials svg path {
  fill: #706969;
}

.hero .hero-socials svg:hover {
  cursor: pointer;
}

.hero .hero-socials svg:hover path {
  fill: #e2e2e2;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #706969;
  position: relative;
  top: 10vh;
}

@media only screen and (min-width: 750px) {
  .container {
    margin-top: 2em;
  }
  .container header {
    /* .logo {
        //position: fixed;
        //transform: scale(0.17);
        //margin: 1.6em 1.6em;
        //width: 0px;
        // height: 0px;
      }*/
    /*.nav-icon {
        position: fixed;
        right: 0;
        top: 2.8em;
        margin: 1em 1.6em 0 1.6em;
        z-index: 100;

        &:hover {
          cursor: pointer;
        }
      }*/
    /*.menu-open {
        display: block;
      }

      .menu-close {
        display: none;
      }*/
  }
  .container header nav {
    right: 10;
    /*.selected {
          margin-left: -2em;
          a {
            color: $PaleWhite;
          }
          ::after {
            content: " ";
            position: absolute;
            width: 90px;
            height: 2.6px;
            background-color: $PaleWhite;
            bottom: 14px;
            left: 0;
          }
        }*/
    /*.nav-socials {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4em;
          margin-top: 30vh;

          svg {
            transform: scale(1.2);
            path {
              fill: $Gray;
            }
            &:hover {
              cursor: pointer;
              path {
                fill: $PaleWhite;
              }
            }
          }
        }*/
  }
  .container header nav ul {
    left: 68vw;
  }
  .container header nav ul li a {
    font-size: 26px;
    /* &:hover {
                color: $PaleWhite;
              }*/
  }
  .hero {
    /*.hero-socials {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      margin-top: 1em;
      svg {
        path {
          fill: $Gray;
        }
        &:hover {
          cursor: pointer;
          path {
            fill: $PaleWhite;
          }
        }
      }
    }*/
  }
  .hero h1 {
    font-size: 28px;
    letter-spacing: 8px;
  }
  .hero .hero-img {
    margin: 2.2em 0 1em 0;
    width: 410px;
    height: auto;
  }
  .hero .hero-logo {
    width: 86px;
    height: auto;
  }
  /* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
    color: $Gray;
    position: relative;
    top: 10vh;
  }*/
}

@media only screen and (min-width: 1080px) {
  .container {
    position: relative;
    margin-top: 2em;
  }
  .container header .logo {
    -webkit-transform: scale(0.17);
            transform: scale(0.17);
    margin: 0.25em 1.6em;
  }
  .container header .menu-open {
    display: none;
  }
  .container header nav {
    width: 550px;
    height: auto;
    background-color: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .container header nav .selected {
    margin-left: unset;
  }
  .container header nav .selected a {
    color: #e2e2e2;
  }
  .container header nav .selected ::after {
    content: " ";
    width: 52px;
    height: 2.6px;
    bottom: -2px;
    left: 16px;
  }
  .container header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: unset;
    margin: 0em 2em;
  }
  .container header nav ul li {
    padding: 0 1em;
  }
  .container header nav ul li a {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .container header nav ul li a:hover {
    color: #e2e2e2;
  }
  .container header nav .nav-socials {
    display: none;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 16em;
    margin-bottom: 6em;
  }
  .hero .right {
    position: relative;
    left: 70%;
    bottom: 50px;
  }
  .hero .left {
    position: relative;
    right: 70%;
    margin: 2em;
  }
  .hero h1 {
    font-size: 40px;
    letter-spacing: 6px;
    margin: 1em 2em 0.8em 2em;
    width: 100%;
  }
  .hero .hero-img {
    margin: 2.2em 2em 0em 2em;
    width: 550px;
    height: auto;
  }
  .hero .hero-logo {
    width: 100px;
    height: auto;
  }
  .hero .hero-socials {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-top: 2em;
    width: 1440px;
    margin: 2em auto 2em auto;
  }
  .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container header .logo {
    position: unset;
    -webkit-transform: scale(0.17);
            transform: scale(0.17);
    margin: 0.25em 1.6em;
  }
  .container header nav {
    position: unset;
    width: 550px;
    height: auto;
  }
  .container header nav .selected ::after {
    width: 52px;
    height: 2.6px;
    bottom: -2px;
    left: 16px;
  }
  .container header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: unset;
    margin: 0em 2em;
  }
  .container header nav ul li {
    padding: 0 1em;
  }
  .container header nav ul li a {
    font-size: 22px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 950px;
    height: auto;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 6em;
  }
  .hero .right {
    position: relative;
    left: 70%;
    bottom: 50px;
  }
  .hero .left {
    position: relative;
    right: 80%;
    margin: 2em;
  }
  .hero h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin: 1em 2em 0.8em 2em;
    width: 100%;
  }
  .hero .hero-img {
    margin: 2.2em 2em 0em 2em;
    width: 720px;
    height: auto;
  }
  .hero .hero-logo {
    width: 120px;
    height: auto;
  }
  .hero .hero-socials {
    margin-top: 1em;
  }
}
/*# sourceMappingURL=main.css.map */